.coursePage {
  padding-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.achievementsPage {
  padding-top: 7rem;
}
.aboutUsPage {
  padding-top: 7rem;
}
.galleryPage {
  padding-top: 7rem;
}
