.coursePage {
  padding-top: 7rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.achievementsPage {
  padding-top: 7rem;
}

.aboutUsPage {
  padding-top: 7rem;
}

.galleryPage {
  padding-top: 7rem;

  .galleryTitle {
    text-align: center;
    font-size: 3vw;
    background-color: blue;
  }

  .galleryContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;

    padding: 3vw;

    .galleryImage {
      height: 50vh;
      width: 40vw;
      margin: 6vh;

      .imgTitle {
        text-align: center;
        font-weight: 500;
      }

      .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        margin-top: 2vh;
      }
    }
  }
}