:root {
  --primary: #f2f4f6;
  --secondary: #ffffff;
  --active:#007bff;
  --accent: #008cff;
  --accent2: #0d92ff;
  --primary-darker:#4a4a4a;
  --primary-lighter:#a0a0a0;
}

nav {
  min-width: 100%;
  height: 5rem;
  padding: 1rem;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 99;
  overflow-y: hidden;
  .navbar {
    width: 100%;
    height: 4rem;
    background-color: #fdfefe9a;
    backdrop-filter: blur(8px);
    box-shadow: -9.9px 11.04px 59.75px 0px rgba(206, 195, 195, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0 3.5rem;
      align-items: center;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        img {
          width: 2.5rem;
          height: 2.5rem;
        }
        p {
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
      .navlinks {
        display: flex;
        align-items: center;
        min-width: fit-content;
        gap: 2rem;
        a {
          text-decoration: none;
          font-size: 1.1rem;
          font-weight: 500;
          color: black;
          position: relative;
        }
        a::after {
          content: "";
          width: 100%;
          transform: scale(0, 1);
          position: absolute;
          height: 2px;
          border-radius: 1px;
          background-color: var(--accent);
          left: 0;
          bottom: 0;
          transition: transform 0.3s ease;
        }
        a:hover::after {
          transform: scale(1, 1);
        }
        .active {
          color: var(--active);
        }
        .active::after {
          display: none;
        }
        #contactUsBtn {
          padding: 7px;
          cursor: pointer;
          border: none;
          min-width: fit-content;
          border-radius: 10px;
          background-color: #007bff;
          color: #f9f9f9;
          font-size: 1.1rem;
        }
      }
      .hamburgerMenu {
        display: none;
        display: flex;
        position: absolute;
        right: 1rem;
        align-items: flex-end;
        flex-direction: column;
        gap: 4px;
        width: 2rem;
        cursor: pointer;
        .lines {
          height: 4px;
          background-color: #363636;
          border-radius: 2px;
          display: none;
          transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
        .lines:nth-child(1) {
          width: 50%;
        }
        .lines:nth-child(2) {
          width: 100%;
        }
        .lines:nth-child(3) {
          width: 75%;
        }
        &.active {
          #line1 {
            transform: translate(-12px, 2px) rotatez(45deg);
          }
          #line2 {
            transform-origin: top;
            transform: rotatez(-45deg);
          }
          #line3 {
            width: 50%;
            transform: translate(-1px, -3px) rotatez(45deg);
          }
        }
      }
    }
  }

  .menuPage {
    border-radius: 10px;
    padding: 1rem 0;
    width: 50%;
    transform: translateY(-150%);
    transition: transform 0.4s ease;
    background-color: #fdfefed2;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 5rem;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      a {
        text-decoration: none;
        color: black;
      }

      .active {
        color: var(--accent);
      }
      #menuContactBtn {
        border: none;
        background-color: transparent;
        font-size: 1rem;
      }
    }
  }

  .open {
    transform: translateY(0%);
  }
}

.coursecard {
  cursor: pointer;
  max-width: 18rem;
  height: fit-content;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--secondary);
  padding-bottom: 1rem;
  transition: all 0.4s;
  box-shadow: -9.9px 11.04px 59.7px 0px rgba(0, 0, 0, 0.25);
  &:hover {
    box-shadow: 10px 10px 30px #007bff73;
    transform: scale(0.98);
  }
  .image {
    padding: 1rem;
    width: 100%;
    img {
      border-radius: 10px;
      min-width: 16rem;
      height: 10rem;
    }
  }
  .courseDetails {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .ageGroup {
      font-size: 1rem;
      color: var(--primary-darker);
    }
    h3{
      color: var(--primary-darker);
      font-weight: 700;
    }
    .levels {
      font-size: 1rem;
      color: var(--primary-lighter);
    }
    .duration {
      display: flex;
      align-items: center;
      gap: 7px;
      padding: 2px;
      img {
        height: 1rem;
        width: 1rem;
      }
      .courseDuration {
        font-size: clamp(1rem, 0.8rem, 0.9rem);
        color: var(--primary-darker);
        font-weight: 500;
      }
    }
    .viewMoreDiv {
      padding-right: 1rem;
      display: flex;
      justify-content: flex-end;
      .viewMoreBtn {
        cursor: pointer;
        border: none;
        outline: none;
        width: 6.5rem;
        border-radius: 10px;
        color: white;
        background-color: var(--accent);
        padding: 0.6rem 0;
      }
    }
  }
}

.courseSection {
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 2px 4px rgb(138, 138, 138);
  padding: 1rem;
  gap: 2rem;
  .image {
    img {
      height: 20rem;
      width: 20rem;
      border-radius: 5px;
    }
  }
  .courseDetails {
    display: flex;
    flex-direction: column;
    width: 70%;
    .courseTitleDesc {
      margin-bottom: 10px;
      h2 {
        font-size: 1.9rem;
        color: var(--secondary);
        font-weight: 700;
      }
      #courseDesc {
        color: #7f7f7f;
        font-size: 1.4rem;
      }
    }

    .benefits {
      margin-bottom: 15px;
      h3 {
        font-size: 1.2rem;
        color: var(--secondary);
        margin-bottom: 5px;
      }
      ol {
        padding-left: 1rem;
        li {
          color: var(--accent2);
          list-style: decimal;
          border-radius: 10px;
          padding: 0.3rem;
        }
      }
    }
    .courseDuration {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      img {
        width: 1.7rem;
        height: 1.7rem;
      }
      p {
        font-size: 1.2rem;
        color: var(--active);
        font-weight: 500;
      }
    }
  }
}

.learningModel {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  .progress {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: red;
  }
}
