:root {
  --primary: #f2f4f6;
  --secondary: #007bffe2;
  --accent: #ffffff;
}
.coursePage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 15vh;
  .cardSection {
    gap: 1rem;
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    .subtitle {
      text-align: center;
      font-size: 3rem;
      color: var(--secondary);
      font-weight: 500;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 4vw;
      justify-content: center;
      align-items: center;
    }
  }
  .allCourseSection {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    .ourCourse {
      text-align: center;
    }
  }
}
