*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
.Homepage-1-child,
.Homepage-1-item {
  position: absolute;
  top: 172px;
  left: 150px;
  width: 200px;
  height: 200px;
  border-radius: 360px;
}
.Homepage-2-child{
    position:absolute;
    top: 344px;
    left: 350px;
    width: 200px;
    height: 200px;
    border-radius: 360px;
}
.Homepage-3-child{
    position:absolute;
    top: 500px;
    left: 150px;
    width: 200px;
    height: 200px;
    border-radius: 360px;

}
.Homepage-4-child{
    position:absolute;
    top: 650px;
    left: 350px;
    width: 200px;
    height: 200px;
    border-radius: 360px;
}
.Homepage-1-item {
  top: 560px;
  left: 850px;
  border-radius: 37.5px;
  background-color: #e3f2fd;
  border: 3px solid #000;
  box-sizing: border-box;
  width: 500px;
  height: 60px;
}
.search-course{
    
}
.search-icon {
  position: absolute;
  top: 570px;
  left: 860px;
  width: 47px;
  height: 47px;
  object-fit: cover;
}
.Homepage-1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1024px;
  overflow: hidden;
}
.Home-content{
    padding-top: 18%;
    padding-left: 55%;
    padding-bottom: 5%;
    
}
#text1{
     font-size: 40px;
}
#heading{
    font-size: 80px;
    color: #42A5F5
}
p{
    font-size:24px;
}
.circle-1-child {
    position: absolute;
    
    top: 403px;
    left: 52px;
    border-radius: 50%;
   
    width: 80px;
    border: 5px solid #2196f3 ;
    height: 80px;
}
.circle-2-child {
    position: absolute;
    
    top: 203px;
    left: 400px;
    border-radius: 50%;
   
    width: 40px;
    border: 10px solid #815CB1 ;
    height: 40px;
}
.circle-3-child {
    position: absolute;
    top: 600px;
    left: 600px;
    border-radius: 50%;
   
    width: 30px;
    border: 10px solid #16423F;
    height: 30px;
}
.circle-4-child {
    position: absolute;
    
    top: 800px;
    left: 90px;
    border-radius: 50%;
   
    width: 40px;
    border: 5px solid #B6343C ;
    height: 40px;
}