* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
  //  overflow-x:hidden ;
}

.bgDiv {
  height: 150vh;
  width: 200vw;
  position: absolute;
  z-index: -1;
  background-color: #E3F2FD;
  border-radius: 50%;
  left: -50%;
  top: -20%;
  background: linear-gradient(to right, #E3F2FD 1%, BBDEFB 100%);

}

.Homepage-1-child,
.Homepage-1-item {
  position: absolute;
  top: 172px;
  left: 150px;
  width: 200px;
  height: 200px;
  border-radius: 360px;
}

.Homepage-2-child {
  position: absolute;
  top: 344px;
  left: 350px;
  width: 200px;
  height: 200px;
  border-radius: 360px;
}

.Homepage-3-child {
  position: absolute;
  top: 500px;
  left: 150px;
  width: 200px;
  height: 200px;
  border-radius: 360px;
}

.Homepage-4-child {
  position: absolute;
  top: 650px;
  left: 350px;
  width: 200px;
  height: 200px;
  border-radius: 360px;
}

.Homepage-1-item {
  top: 650px;
  left: 950px;
  border-radius: 37.5px;
  background-color: #e3f2fd;
  border: 3px solid #000;
  box-sizing: border-box;
  width: 500px;
  height: 60px;
}

.search-icon {
  position: absolute;
  top: 658px;
  left: 955px;
  width: 47px;
  height: 47px;
  object-fit: cover;
}

.Homepage-1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1024px;
  overflow: hidden;
}

.Home-content {
  padding-top: 18%;
  padding-left: 55%;
  padding-bottom: 5%;
}

#text1 {
  font-size: 40px;
}

#heading {
  font-size: 80px;
  color: #42a5f5;
}

p {
  font-size: 24px;
}

.circle-1-child {
  position: absolute;

  top: 403px;
  left: 52px;
  border-radius: 50%;

  width: 80px;
  border: 5px solid #2196f3;
  height: 80px;
}

.circle-2-child {
  position: absolute;

  top: 203px;
  left: 400px;
  border-radius: 50%;

  width: 40px;
  border: 10px solid #815cb1;
  height: 40px;
}

.circle-3-child {
  position: absolute;
  top: 600px;
  left: 600px;
  border-radius: 50%;

  width: 30px;
  border: 10px solid #16423f;
  height: 30px;
}

.circle-4-child {
  position: absolute;

  top: 800px;
  left: 90px;
  border-radius: 50%;

  width: 40px;
  border: 5px solid #b6343c;
  height: 40px;
}

.faculty {
  margin-top: 50vh;
  font-size: 3vw;
  color: #42a5f5;

  #title {
    text-align: center;
  }

  .facultyDetails {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-top: 5vh;

    .coursecard {
      width: clamp(18rem, 14rem, 20rem);
      height: fit-content;
      border-radius: 15px;
      overflow: hidden;
      background-color: #fdfefed2;
      padding-bottom: 1rem;
      box-shadow: -9.92904281616211px 11.04298210144043px 59.75763702392578px 0px rgba(120, 124, 132, 0.25);

      .image {
        padding: 1rem;
        width: 100%;

        img {
          border-radius: 10px;
          width: clamp(16rem, 14rem, 18rem);
          height: 10rem;
        }
      }

      .courseDetails {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .courseDescription {
          font-size: clamp(0.9rem, 0.7rem, 0.8rem);
          height: 3.8rem;
          width: 90%;
        }

        .courseDuration {
          font-weight: bold;
        }

        .viewMore {
          width: 90%;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          border: 1.5px solid black;

          a {
            text-decoration: none;
            color: black;
            font-size: 1.1rem;
          }
        }
      }
    }
  }

}




.Experience-child {
  position: absolute;
  top: 425px;
  left: 198px;
  border-radius: 10px;
  background-color: #b6343c;
  width: 572px;
  height: 337px;
}

.Experience-child2 {
  position: absolute;
  top: 460px;
  left: 180px;
  border-radius: 10px;
  background-color: #000;
  width: 610px;
  height: 355px;
}

.Experience-child3 {
  position: absolute;
  top: 500px;
  left: 160px;
  border-radius: 10px;
  background-color: #16423f;
  width: 650px;
  height: 360px;

  img {
    border-radius: 10px;
    width: 650px;
    height: 360px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

/*.bgDiv2{
  height: 150vh;
  width: 200vw;
  position: absolute;
  z-index: -1;
  background-color: #E3F2FD;
  border-radius: 50%;
  left: -50%;
  top: -20%;
  background: linear-gradient(to right, #BBDEFB 0%, #90CAF9 100%);
}*/
.Experience {
  width: 100vw;
  position: absolute;
  height: 1024vh;
  overflow: hidden;
  top: 180%;
}

.experience-content {
  padding-top: 25%;
  padding-left: 55%;
  padding-bottom: 1%;
  left: 50px;
}

#text2 {
  font-size: 40px;
}

#heading {
  font-size: 80px;
  color: #42a5f5;
}

p {
  font-size: 35px;
  color: #16423f;
}

.about-us {
  padding-top: 25%;
  padding-left: 55%;
  padding-bottom: 1%;
  left: 50px;
  height: 5vh;
  width: 10vw;
  border-radius: 20px;
}

.circle-experience-child {
  height: 15vh;
  width: 10vw;
  border-radius: 50%;
  background: #000;
}

.child1-service {
  position: absolute;
  top: 315%;
  left: 40%;
  border-radius: 10px;
  background-color: #000;
  width: 350px;
  height: 350px;

}

.child2-service {
  position: absolute;
  top: 320%;
  left: 65%;
  border-radius: 10px;
  background-color: #000;
  width: 350px;
  height: 350px;
}

.child3-service {
  position: absolute;
  top: 365%;
  left: 40%;
  border-radius: 10px;
  background-color: #000;
  width: 350px;
  height: 350px;
}

.child4-service {
  position: absolute;
  top: 370%;
  left: 65%;
  border-radius: 10px;
  background-color: #000;
  width: 350px;
  height: 350px;
}