@media screen and (width<600px) {
  nav {
    .navbar {
      ul {
        padding: 0 1rem;

        .navlinks {
          display: none;
        }

        .hamburgerMenu {
          display: flex;

          .lines {
            display: block;
          }
        }
      }
    }
  }

  .coursecard {
    min-width: 22rem;

    .image {
      width: 100%;

      img {
        min-width: 20rem;
      }
    }
  }

  .coursePage {
    flex-direction: column;
  }

  .galleryPage {
    .galleryTitle {
      height: 30vh;
      font-size: 2rem;
      font-weight: 500;
      padding: 5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: -15vh;
    }

    .galleryContainer {
      display: flex;
      flex-direction: column;
      padding: 0 3rem;

      .galleryImage {
        height: 100%;
        width: 100%;
        margin: 0;

        .imgTitle {
          font-size: 6vw;
          margin-top: 2rem;
        }

        .image {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}